header {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.set {
    display: flex;
    flex-direction: column;
}

.set ul {
    list-style: none;
}

.set input {
    width: 20px;
}

#spacer {
    width: 200px;
}

#bpm {
    margin: 5px;
}

#bpmLabel {
    margin-top: 5px;
}

#historyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#historyContainer ul {
    list-style-type: none;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 150px;
    align-items: center;
}