.center-text {
    text-align: center;
}

#dots {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
}

#dots div {
    margin: 5px;
}

#bpm {
    color: goldenrod;
    font-size: 30px;
}

#bpmLabel {
    margin-top: 5px;
}

#bpmControls button {
    margin: 5px;
}

#stopwatchContainer  button {
    margin: 5px;
}

.swText {
    font-size: xx-large;
}

footer {
    text-align: center;
    width: 100%;
}

#mainControls {
    display: flex;
    flex-direction: column;
}

#mainControls div {
    display:flex; 
    justify-content: left;
}

#mainControls button {
    margin: 5px;
}

#mainControls label {
    margin: 5px;
}